/* Image */

.image {
    border: 0;
    display: inline-block;
    position: relative;

    &:before {
        //linear-gradient: ('transition', 'opacity #{_duration(transition)} ease-in-out');
        background: url('images/overlay.png');
        border-radius: 6px;

        content: '';
        display: block;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &.thumb {
        text-align: center;

        &:after {
            //linear-gradient: ('transition', 'opacity #{_duration(transition)} ease-in-out');
            border-radius: 6px;
            border: solid 3px rgba(255,255,255,0.5);
            color: #fff;
            content: 'View';
            display: inline-block;
            font-size: 0.8em;
            font-weight: _font(weight-bold);
            left: 50%;
            line-height: 2.25em;
            margin: -1.25em 0 0 -3em;
            opacity: 0;
            padding: 0 1.5em;
            position: absolute;
            text-align: center;
            text-decoration: none;
            top: 50%;
            white-space: nowrap;
        }

        &:hover {
            &:after {
                opacity: 1.0;
            }

            &:before {
                background: url('images/overlay.png'), url('images/overlay.png');
                opacity: 1.0;
            }
        }
    }

    img {
        border-radius: 6px;
        display: block;
       
    }

    &.left {
        float: left;
        margin: 0 1.5em 1em 0;
        top: 0.25em;
    }

    &.right {
        float: right;
        margin: 0 0 1em 1.5em;
        top: 0.25em;
    }

    &.left,
    &.right {
        max-width: 40%;

        img {
            width: 100%;
        }
    }

    &.fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;

        img {
            width: 100%;
        }
    }

    &.avatar {
        border-radius: 0%;

        &:before {
            display: none;
        }

        img {
            border-radius: 0%;
            width: 100%;
        }
    }
}

.work-item {
    margin: 1em 1em 1em 1em;

    .image {
        margin: 0 0 0 0;
    }
}

.gallery-title {
    margin-top: 150px;
    margin-bottom: 20px;
    text-align: center;
}

.gallery-container {
    margin-bottom: 5em;
    margin-left: 5em;
    margin-right: 5em;
}